## Python 3.7 tutorial

## Various Data Types in Python

- Integers
- Complex numbers
- Floating point numbers
- Strings
- Boolean
- Strings( ' ' or " ")
- Collection data types(Lists,Sets,Tuples,Dictionary)

In [ ]:
# DataTypes

In [6]:
10**2

100

In [8]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [ ]:
# Check the Data Types

In [7]:
type(1)

int

In [36]:
type(2+3j)

complex

In [9]:
type("Hello")

str

In [10]:
type('Hello')

str

In [ ]:
# Strings ( ' ' or " ")

In [11]:
"Hello"

'Hello'

In [12]:
type('Hello')

str

In [ ]:
# Variable Assigment

In [13]:
a=10

In [14]:
type(a)

int

In [15]:
str='Hello'

In [16]:
type(str)

str

In [17]:
b=20

In [18]:
print((a*b)+(b/a))

202.0

In [ ]:
# Precedence in Mathematical operations-> BODMAS

In [ ]:
# Press Shift+Tab before the bracket of any function to see the documentation e.g. print()

In [20]:
print("My first name is {first} and last name is {last}".format(first='Ketaki',last='Vaidya'))

My first name is Ketaki and last name is Vaidya

In [21]:
print("My first name is {} and last name is {}".format('Ketaki','Vaidya'))

My first name is Ketaki and last name is Vaidya

In [22]:
len('10')

2

In [24]:
len('Ketaki')

6

In [ ]:
# Boolean variables-> bool() can be used to cast any value to a Boolean

In [26]:
bool()

False

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [32]:
str_1="Ketaki Vaidya"

In [33]:
str_1.isalnum()

False

In [35]:
str_1.isupper()

False

# Boolean and Logical Operators

In [37]:
True and True

True

In [38]:
True and False

False

In [39]:
True or False

True

In [41]:
my_str= "Ketaki 123"

In [42]:
my_str.isalnum() and my_str.istitle()

False

# Lists
A list is a collection(of different data types) which is ordered and changeable.
Each member of a list is an item.Denoted by [ ].
Indexing starts from 0
In Python lists are written with square brackets.It allows duplicate members

In [43]:
type([ ])

list

In [44]:
list_example= []

In [45]:
type(list_example)

list

In [46]:
list_2=list()

In [47]:
type(list_2)

list

In [2]:
list_3=['str',1,2,3,4]

In [49]:
type(list_3)

list

## Append
Adds elements to the last,by default

In [50]:
list_3.append("Ketaki")

In [51]:
list_3

['str', 1, 2, 3, 4, 'Ketaki']

In [52]:
list_3[2]

2

In [ ]:
#Nested Lists

In [56]:
list_3.append(["John","Hopkins"])

In [57]:
list_3

['str', 1, 2, 3, 4, 'Ketaki', ['John', 'Hopkins']]

In [ ]:
#Indexing with ranges Range specified in the brackets= start_index:last_index-1

In [53]:
list_3[:]

['str', 1, 2, 3, 4, 'Ketaki']

In [54]:
list_3[1:]

[1, 2, 3, 4, 'Ketaki']

In [55]:
list_3[:5]

['str', 1, 2, 3, 4]

## Insert : when order matters

In [58]:
list_3

['str', 1, 2, 3, 4, 'Ketaki', ['John', 'Hopkins']]

In [60]:
list_3.remove(["John","Hopkins"])

In [61]:
list_3

['str', 1, 2, 3, 4, 'Ketaki']

In [62]:
list_3.insert(1,'str2')

In [63]:
list_3

['str', 'str2', 1, 2, 3, 4, 'Ketaki']

In [64]:
list_3.insert(7,["Machine","Learning"])

In [65]:
list_3

['str', 'str2', 1, 2, 3, 4, 'Ketaki', ['Machine', 'Learning']]

## Extend method

In [3]:
list_3

['str', 1, 2, 3, 4]

In [4]:
list_3.extend([6,7])

In [5]:
list_3

['str', 1, 2, 3, 4, 6, 7]

In [6]:
list_3.remove('str')

In [7]:
list_3

[1, 2, 3, 4, 6, 7]

In [8]:
sum(list_3)

23

## Pop() Method
Removes the element popped(Similar to stack pop but you can specify an index too)

In [9]:
list_3.pop()

7

In [10]:
list_3.pop(0)

1

In [11]:
list_3

[2, 3, 4, 6]

In [12]:
list_3.append(2)

In [13]:
list_3

[2, 3, 4, 6, 2]

## Various Operations on a list

In [ ]:
# Count() counts the number of occurences of the specified element

In [14]:
list_3.count(2)

2

In [ ]:
# len() calculates the total length of the list

In [15]:
len(list_3)

5

In [26]:
## index() -> Returns the index of the first occurence. Start and End(It searches from startindex to endIndex-1  in the list) 
## index parameters optional

In [16]:
list_3

[2, 3, 4, 6, 2]

In [17]:
list_3.index(2,0,4)

0

In [18]:
list_3.index(2,0)

0

In [21]:
list_3

[2, 3, 4, 6, 2]

In [24]:
list_3.index(2,2,5)

4

In [ ]:
## Min and Max

In [27]:
min(list_3)

2

In [28]:
max(list_3)

6

In [29]:
list_3

[2, 3, 4, 6, 2]

In [30]:
list_3*2

[2, 3, 4, 6, 2, 2, 3, 4, 6, 2]

## Sets 
A set is unordered and unindexed.It is mutable(can be changed). No duplicate elements.
Denoted by {}.It is based on a data structure hash table

In [ ]:
# Defining an empty set

In [31]:
set_var=set()

In [32]:
set_var

set()

In [33]:
type(set_var)

set

In [34]:
set_var2={}

In [35]:
set_var2

{}

In [36]:
set_var={1,2,3,'str'}

In [37]:
set_var

{1, 2, 3, 'str'}

In [38]:
set_var.add(1)

In [47]:
set_var

{1, 2, 3, 'str'}

In [40]:
set_var2={4,1,2,3,6}

In [41]:
set_var2

{1, 2, 3, 4, 6}

In [45]:
set_1={1,2,3,4,5}
set_2={1,2,3,4,5,6}

In [ ]:
## Difference in sets

In [46]:
set_2.difference(set_1)

{6}

In [48]:
set_1

{1, 2, 3, 4, 5}

In [49]:
set_2

{1, 2, 3, 4, 5, 6}

In [ ]:
# Difference update

In [50]:
set_2.difference_update(set_1)

In [51]:
set_2

{6}

In [53]:
set_2.add(1)

In [54]:
set_2

{1, 6}

In [ ]:
# Intersection

In [55]:
set_1.intersection(set_2)

{1}

In [56]:
set_1

{1, 2, 3, 4, 5}

In [57]:
set_1.intersection_update(set_2)

In [58]:
set_1

{1}

In [59]:
set_1.isdisjoint(set_2)

False

In [60]:
set_2

{1, 6}

In [61]:
set_1

{1}

## Dictionaries
Collection which is unordered,changeable and indexed. Denoted by {} with a key and a value.

In [65]:
dict={}

In [66]:
dict

{}

In [67]:
type(dict)

dict

In [68]:
dict={"Name1":"Chandramita","Name2":"Ketaki","Name3":"Priya"}

In [69]:
dict

{'Name1': 'Chandramita', 'Name2': 'Ketaki', 'Name3': 'Priya'}

In [ ]:
# Access the item values based on Keys

In [70]:
dict["Name1"]

'Chandramita'

In [ ]:
# looping through a dictionary

In [71]:
for x in dict:
    print(x)

Name1
Name2
Name3

In [72]:
for x in dict.values():
    print(x)

Chandramita
Ketaki
Priya

In [73]:
for x in dict.items():
    print(x)

('Name1', 'Chandramita')
('Name2', 'Ketaki')
('Name3', 'Priya')

In [ ]:
# Adding items in dictionaries

In [75]:
dict['Name4']='Vaidya'

In [76]:
dict

{'Name1': 'Chandramita',
 'Name2': 'Ketaki',
 'Name3': 'Priya',
 'Name4': 'Vaidya'}

In [ ]:
# Understanding dictionary willl help a lot especially in the usage of MongoDB

## Nested Dictionary

In [77]:
ML_1={'First':'Data Cleaning'}

In [78]:
ML_2={'Second':'Data Preprocessing'}

In [79]:
ML_3={'Third':'Feature selection'}

In [80]:
ML_Steps={"1":ML_1,"2":ML_2,"3":ML_3}

In [81]:
ML_Steps

{'1': {'First': 'Data Cleaning'},
 '2': {'Second': 'Data Preprocessing'},
 '3': {'Third': 'Feature selection'}}

In [83]:
ML_Steps['1']['First']

'Data Cleaning'

## Tuples
A tuple is a collection which is ordered and unchangeable(immutable).Python tuples are denoted by ()

In [ ]:
## Create an empty tuple

In [2]:
my_tuple=()

In [94]:
type(my_tuple)

tuple

In [5]:
my_tuple=(3,7,4,2)

In [6]:
my_tuple

(3, 7, 4, 2)

In [7]:
my_tuple=(3,7)

In [8]:
my_tuple

(3, 7)

In [ ]:
# The whole tuple can be changed but individual item is immutable

In [101]:
my_tuple=(3,7,2)

In [102]:
my_tuple

(3, 7, 2)

In [ ]:
# Count the occurences of an item

In [103]:
my_tuple.count(3)

1

In [104]:
my_tuple=3,7,4,2,3

In [105]:
my_tuple.index(3)

0

In [106]:
my_tuple.count(3)

2