## Python 3.7 tutorial

## Various Data Types in Python

- Integers
- Complex numbers
- Floating point numbers
- Strings
- Boolean
- Strings( ' ' or " ")
- Collection data types(Lists,Sets,Tuples,Dictionary)

In [ ]:
# DataTypes

In [6]:
10**2

100

In [8]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [ ]:
# Check the Data Types

In [7]:
type(1)

int

In [36]:
type(2+3j)

complex

In [9]:
type("Hello")

str

In [10]:
type('Hello')

str

In [ ]:
# Strings ( ' ' or " ")

In [11]:
"Hello"

'Hello'

In [12]:
type('Hello')

str

In [ ]:
# Variable Assigment

In [13]:
a=10

In [14]:
type(a)

int

In [15]:
str='Hello'

In [16]:
type(str)

str

In [17]:
b=20

In [18]:
print((a*b)+(b/a))

202.0

In [ ]:
# Precedence in Mathematical operations-> BODMAS

In [ ]:
# Press Shift+Tab before the bracket of any function to see the documentation e.g. print()

In [20]:
print("My first name is {first} and last name is {last}".format(first='Ketaki',last='Vaidya'))

My first name is Ketaki and last name is Vaidya

In [21]:
print("My first name is {} and last name is {}".format('Ketaki','Vaidya'))

My first name is Ketaki and last name is Vaidya

In [22]:
len('10')

2

In [24]:
len('Ketaki')

6

In [ ]:
# Boolean variables-> bool() can be used to cast any value to a Boolean

In [26]:
bool()

False

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [32]:
str_1="Ketaki Vaidya"

In [33]:
str_1.isalnum()

False

In [35]:
str_1.isupper()

False

# Boolean and Logical Operators

In [37]:
True and True

True

In [38]:
True and False

False

In [39]:
True or False

True

In [41]:
my_str= "Ketaki 123"

In [42]:
my_str.isalnum() and my_str.istitle()

False

# Lists
A list is a collection(of different data types) which is ordered and changeable.
Each member of a list is an item.Denoted by Square Bracket.
Indexing starts from 0
In Python lists are written with square brackets.It allows duplicate members

In [43]:
type([ ])

list

In [44]:
list_example= []

In [45]:
type(list_example)

list

In [46]:
list_2=list()

In [47]:
type(list_2)

list

In [48]:
list_3=['str',1,2,3,4]

In [49]:
type(list_3)

list

## Append
Adds elements to the last,by default

In [50]:
list_3.append("Ketaki")

In [51]:
list_3

['str', 1, 2, 3, 4, 'Ketaki']

In [52]:
list_3[2]

2

In [ ]:
#Nested Lists

In [56]:
list_3.append(["John","Hopkins"])

In [57]:
list_3

['str', 1, 2, 3, 4, 'Ketaki', ['John', 'Hopkins']]

In [ ]:
#Indexing with ranges Range specified in the brackets= start_index:last_index-1

In [53]:
list_3[:]

['str', 1, 2, 3, 4, 'Ketaki']

In [54]:
list_3[1:]

[1, 2, 3, 4, 'Ketaki']

In [55]:
list_3[:5]

['str', 1, 2, 3, 4]

## Insert : when order matters

In [58]:
list_3

['str', 1, 2, 3, 4, 'Ketaki', ['John', 'Hopkins']]

In [59]:
list_3.remove(6)

ValueError: list.remove(x): x not in list

In [60]:
list_3.remove(["John","Hopkins"])

In [61]:
list_3

['str', 1, 2, 3, 4, 'Ketaki']

In [62]:
list_3.insert(1,'str2')

In [63]:
list_3

['str', 'str2', 1, 2, 3, 4, 'Ketaki']

In [64]:
list_3.insert(7,["Machine","Learning"])

In [65]:
list_3

['str', 'str2', 1, 2, 3, 4, 'Ketaki', ['Machine', 'Learning']]