## Pandas Guide
Pandas is a library that provides high-performance easy-to-use data structures and data analysis tools for Python.

Source: https://pandas.pydata.org/docs/

### When is Pandas used?
When working with tabular data, such as data stored in spreadsheets or databases, Pandas is the right tool for you. 
Pandas will help you to explore, clean and process your data.
In Pandas, a data table is called a DataFrame.

### What is a DataFrame?
A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns.

In [1]:
import pandas as pd

In [19]:
df=pd.read_csv("Test1.csv",index_col='Column1',usecols=['Column1','Column2','Column3','Column4'])

In [20]:
df

         Column2  Column3  Column4
Column1
0              1        2        3
4              5        6        7
8              9       10       11
12            13       14       15
16            17       18       19

To manually store data in a table, create a DataFrame. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as rows of the DataFrame.

In [27]:
df2=pd.DataFrame({"Name": ["Braud","Sayanika","Nayanika"],
                  "Age": ["22","23","24"],
                  "Sex":["Male","Female","Female"]})

In [28]:
df2

       Name Age     Sex
0     Braud  22    Male
1  Sayanika  23  Female
2  Nayanika  24  Female

Each column in a DataFrame is a Series. A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.

In [33]:
name=df2["Name"]

In [34]:
type(name)

pandas.core.series.Series

## Do something with a dataframe or a series

In [35]:
age=df2["Age"]

In [36]:
age.max()

'24'

In [37]:
df2["Age"].max()

'24'

In [38]:
df2.describe()

            Name Age     Sex
count          3   3       3
unique         3   3       2
top     Sayanika  22  Female
freq           1   1       2

In [39]:
df.head()

         Column2  Column3  Column4
Column1
0              1        2        3
4              5        6        7
8              9       10       11
12            13       14       15
16            17       18       19

## Points to Remember
- Import the package, aka import pandas as pd
- A table of data is stored as a pandas DataFrame
- Each column in a DataFrame is a Series
- You can do things by applying a method to a DataFrame or Series